@use "src/styles/variables.module" as variables;

.rating {
  width: fit-content;

  i {
    color: variables.$primary-button-main-color !important;
  }

  &-container {
    display: flex;
    flex-direction: column;
  }

  &-count {
    font-size: 12px;
    font-weight: 400;
  }
}
