@use 'src/styles/variables.module' as variables;
@use 'src/styles/parts.module' as *;

.title {
  display: block;
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;

  &-container {
    margin-bottom: 30px;
    position: relative;
  }
}

.secondary-title,
%secondary-place-segment-title {
  display: block;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 15px;
}

.item,
%place-item {
  @extend %base-item;

  &-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 5px;
  }
}

.items {
  &-container {
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  &-count {
    @extend %place-item;

    &::before {
      background-color: variables.$primary-text-color;
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: 4px;
      margin-left: 6px;
      margin-right: 6px;
      vertical-align: middle;
      width: 4px;
    }
  }
}

.segments-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 30px;
}
