@use 'src/styles/variables.module' as variables;
@use 'src/styles/parts.module' as *;

.pusher {
  height: 100%;
}

.sidebar {
  background-color: variables.$background-color !important;
  width: 200px !important;
}

.image {
  cursor: pointer;
  height: 120px;
  margin: 15px auto;
  transition: transform 0.1s linear;
  width: 120px;

  &:hover {
    transform: scale(1.1);
  }
}

.items-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.exit-item {
  @extend %base-item-link;
}
