// Sizes
$header-height: 130px;

// Colors
$background-color: #27292a;
$primary-text-color: #fff;
$secondary-text-color: #27292a;
$primary-button-main-color: #e74362;
$primary-button-additional-color: #d03c58;
$negative-button-main-color: #db2828;
$negative-button-additional-color: #c42525;
$positive-button-main-color: #21ba45;
$positive-button-additional-color: #1ea23b;
$dark-button-main-color: #989494;
$dark-button-additional-color: #8a8787;
$secondary-button-main-color: #e0e1e2;
$underscore-button-main-color: #989494;
$link-color: #73b3f5;
