@use 'src/styles/mq' as *;
@use 'src/styles/variables.module' as variables;
@use 'src/styles/parts.module' as *;
@use '../../styles/PlaceInfoDetails.module' as *;

.container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &-phone-icon {
    transform: scale(-1, 1);
  }

  &-links {
    column-gap: 15px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &-title {
    @extend %secondary-place-segment-title;
  }

  &-item {
    @extend %base-item;
  }

  &-address-container {
    column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  &-map {
    @extend %base-item;
    color: variables.$primary-button-main-color;
    cursor: pointer;
    position: relative;
    transition: .2s linear;

    &:hover {
      color: variables.$primary-button-main-color;
      opacity: .8;
    }

    &:focus {
      color: variables.$primary-button-main-color;
    }
  }

  &-link {
    @extend %base-item-link;
  }
}

.description {
  &-title {
    @extend %secondary-place-segment-title;
  }

  &-content {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
  }
}

.map,
%place-map {
  position: relative;

  &-zoom-buttons {
    margin: -5px 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  &-zoom-button {
    background: #1b2b40;
    border-radius: 2px;
    cursor: pointer;
    height: 50px;
    margin: 5px 0;
    position: relative;
    text-align: center;
    transition: .2s linear;
    width: 50px;

    &:hover {
      opacity: 0.5;
    }

    &::before {
      background-color: variables.$primary-text-color;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
      width: 20px;
    }

    &-plus {
      @extend %place-map-zoom-button;

      &::after {
        background-color: variables.$primary-text-color;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%) rotate(90deg);
        width: 20px
      }
    }

    &-minus {
      @extend %place-map-zoom-button;
    }
  }

  :global {
    [class$='ground-pane'] {
      filter: grayscale(100%) invert(100%);
    }

    [class$='gototaxi'] {
      display: none;
    }

    [class$='gototech'] {
      display: none;
    }
  }
}
