.grid,
%card-grid {
  margin: 0 !important;
  width: 100%;

  div:last-child {
    padding-bottom: 0 !important;
  }

  &-top {
    margin: 0 0 10px !important;
    width: 100%;

    div:last-child {
      padding-bottom: 0 !important;
    }
  }

  &-middle {
    margin: 0 !important;
    width: 100%;

    div:last-child {
      padding-bottom: 0 !important;
    }
  }

  &-bottom {
    margin: 10px 0 0 !important;
    width: 100%;

    div:last-child {
      padding-bottom: 0 !important;
    }
  }
}
