.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

.price {
  font-weight: 700;
  padding: 0 20px;
}

.agreement-container {
  align-items: center;
  column-gap: 15px;
  display: flex;
  padding: 0 20px;
}

.dropdown-container {
  padding: 0 20px;
  width: 100%;
}
