@use 'src/styles/parts.module' as *;

.content {
  height: fit-content;
  margin: 30px !important;
  width: 100%;
}

.image {
  @extend %base-segment-box-shadow;
  border-radius: 100px;
  height: 200px !important;
  width: 200px;

  &-container {
    border-radius: 100px;
    flex-shrink: 0;
  }
}
